<div class="container">
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Cashew</li>
                </ol>
            </nav>
        </div>
        <div class="col-12 col-md-6 text-md-end">
            <div class="input-group btn-Lite-latest">
                <select class="form-select bnone" id="sortOptions">
                    <option value="latest" class="font-16" selected="">Sort by popularity</option>
                    <option value="latest" class="font-16">Sort by average rating</option>
                    <option value="latest" class="font-16">Sort by latest</option>
                    <option value="latest" class="font-16">Sort by price: low to high</option>
                    <option value="oldest" class="font-16">Sort by price: high to low</option>
                </select>
            </div>
        </div>
    </div>
</div>
